

#drop-elem{
    width: 600px;
    height: 500px;
    background-color: magenta;
    float: right;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#drag-elem{
    margin-right: 2rem;
    margin-top: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#drag-elem2{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#drag-elem3{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#drag-elem4{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#drag-elem5{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

#drag-elem6{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    background-color: orange;
}

